.cat-menu {
  /* border: 1px dashed blue; */
  position: absolute;
  width: 30%;
  margin-top: 0;
  margin-right: 20px;
}

.main-content {
  /* border: 1px dashed red; */
  position: absolute;
  left: 40%;
  width: 600px;
}

#cat-image {
  width: 100%;
}