.cat-menu {
  /* border: 1px dashed blue; */
  position: absolute;
  width: 30%;
  margin-top: 0;
  margin-right: 20px;
}

.main-content {
  /* border: 1px dashed red; */
  position: absolute;
  left: 30%;
  max-width: 410px;
}

.admin {
  /* border: 1px dashed red; */
  position: absolute;
  left: 65%;
  margin-top: 10px;
  margin-right: 20px;
  /* padding: 50px; */
}

#cat-image {
  width: 100%;
}

#admin-content {
  /* position: relative; */
  /* background: blue; */
  /* padding: 10px; */
}